@model UserModel

<h4>User</h4>
<hr />
<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.Username)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.Username)
    </dd>
</dl>
<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.Password)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.Password)
    </dd>
</dl>
<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.IsActive)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.IsActive)
    </dd>
</dl>
<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.Gender)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.Gender)
    </dd>
</dl>
<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.CreatedAt)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.CreatedAt)
    </dd>
</dl>
<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.UpdatedAt)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.UpdatedAt)
    </dd>
</dl>